@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');

//variables

//-----COLORS-----

$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 49%);
$almost-black: hsl(0, 0%, 8%);

//-----FONTS-----

$font-fam: 'Epilogue', sans-serif;


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: $font-fam;
}

body{
    width:100vw;
    height:100vh;
    // overflow: hidden;
    overflow-x: hidden;
}

header{

    .header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 38px;
        // border: 1px solid red;

        .header-nav_left{
            display: flex;
            
            .header-nav-logo{
                // border: 1px solid blue;
                margin-right: 38px;
            }
    
            .header-nav-links{
                // border: 1px solid green;
                .nav__list {
                    display: flex;
                    align-items: center;
                  }
                
                li {
                    padding-left: 20px;
                    padding-right: 20px;
                    list-style: none;
                  }
                
                .header-nav-link {
                    color: $medium-gray;
                    text-decoration: none;
                    position: relative;
                    // padding: 0 20px;
                    font-family: $font-fam;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 600;
                    &:hover {
                        color: $almost-black;
                    }
                    
                    svg{
                        margin-left: 4px;
                        &:hover {
                            fill: $almost-black;
                        }
                    }
                        
                    
                }    
            }

            .dropdown__container {
                display: none;
            }

            @media screen and (min-width: 969px) {
                .dropdown__container {
                  position: absolute;
                  top: 3.5rem;
                }
            }

            .dropdown__list {
                margin: 1.5rem 0 0 1.7rem;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                row-gap: 1rem;
            }
              
            @media screen and (min-width: 969px) {
                .dropdown__list {
                  background-color: #fff;
                  border-radius: 0.625rem;
                  -webkit-box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
                          box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
                  row-gap: 1em;
                  padding: 1.5em .3em;
                  margin: 0.5rem 0 0;
                }
            }

            .dropdown__link {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-column-gap: 0.8rem;
                        column-gap: 0.8rem;
                font-size: 12px;

            }
              
            @media screen and (min-width: 969px) {
                .dropdown__link {
                  font-size: 14px;
                  text-decoration: none;
                  color: $medium-gray;
                  font-weight: 500;
                  &:hover {
                    color: $almost-black;
                  }
                }
                
            }

            @media screen and (min-width: 969px) {
                .nav .dropdown__icon {
                  width: 0.75rem;
                }
            }

            .arrow {
                
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }

            .dropdown.active .arrow {
                -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
            }

            .dropdown__container.active {
                display: block;
            }
        }


        .header-buttons{
            .btn-login{
                padding: 5px 10px;
                border: none;
                margin-right: 20px;
                background-color: transparent;
                font-weight: 600;
                color: $medium-gray;
                cursor: pointer;
                &:hover {
                    color: $almost-black;
                }
            }

            .btn-register{
                padding: 12px 20px;
                border: 2px solid $medium-gray;
                color: $medium-gray;
                background-color: transparent;
                border-radius: 14px;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    color: $almost-black;
                    border: 2px solid $almost-black;
                }
            }
        }
        
    }

    
}

main{
    display: flex;
    flex-direction: row;
    padding: 30px;
    // border: 1px solid blue;
    .hero{
        // border: 1px solid red;
        width: 50%;
        padding: 32px 0 32px 100px;
        .hero-title{
            // border: 1px solid green;
            padding: 20px;
            margin-top: 10px;
            h1{
                font-size: 80px;
                font-weight: 700;
                
            }
        }

        .hero-text{
            // border: 1px solid pink;
            padding: 20px 120px 20px 20px;
            margin-bottom: 0px;
            p{
                font-weight: 600;
                color: $medium-gray;
                font-size: 18px;
            }
        }

        .hero-btn{
            // border: 1px solid rgb(97, 8, 23);
            padding: 20px;
            margin-bottom: 40px;
            .btn-hero{
                padding: 16px 28px;
                border: 2px solid $almost-black;
                color: $almost-white;
                background-color: $almost-black;
                border-radius: 14px;
                letter-spacing: .1px;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                    color: $almost-black;
                    border: 2px solid $almost-black;
                    background-color: transparent;
                }
            }
        }

        .hero-sponsors{
            // border: 1px solid rgb(184, 101, 45);
            display: flex;
            align-items: center;
            padding: 20px;
            img{
                object-fit: cover;
                width: auto;
                margin-right: 50px;
            }
        }
    }

    .hero-img-container{
        // border: 1px solid rgb(184, 184, 45);
        width: 50%;
        display: flex;
        justify-content:center;
        padding: 0 32px;
        .hero-img{
            img {
                width: 420px;
                object-fit: cover;
                // border: 1px solid rgb(168, 45, 184);
            }
        }
    }
}