@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body.active {
  background-color: rgba(0, 0, 0, 0.7);
}

header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 38px;
}

header .header-nav .nav__menu {
  margin-left: auto;
  -webkit-transform: translate(-0.625rem, -0.3125rem);
          transform: translate(-0.625rem, -0.3125rem);
  z-index: 999;
  width: 30px;
  height: 20px;
  background-image: url("../images/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -0.9375rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 969px) {
  header .header-nav .nav__menu {
    display: none;
  }
}

header .header-nav .nav__menu.active {
  background-image: url("../images/icon-close-menu.svg");
  width: 24px;
  height: 22px;
}

header .header-nav .header-nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-nav .header-nav_left .header-nav-logo {
  margin-right: 38px;
}

header .header-nav .header-nav_left .nav__item {
  padding-bottom: 2rem;
}

@media screen and (min-width: 969px) {
  header .header-nav .header-nav_left .nav__item:nth-of-type(1) .dropdown__list {
    margin-left: -3.5rem;
  }
}

header .header-nav .header-nav_left .header-nav-links .nav__list {
  position: absolute;
  top: 0;
  right: -100%;
  overflow-x: hidden;
  background-color: #fafafa;
  min-height: 100vh;
  width: 15.625rem;
  padding: 5rem 1rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
}

@media screen and (min-width: 969px) {
  header .header-nav .header-nav_left .header-nav-links .nav__list {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
    background-color: transparent;
    margin-left: 3rem;
    padding: 1.5rem 0 0;
    min-height: auto;
  }
}

header .header-nav .header-nav_left .header-nav-links .nav__list.active {
  right: 0;
}

header .header-nav .header-nav_left .header-nav-links li {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

header .header-nav .header-nav_left .header-nav-links .header-nav-link {
  color: #7d7d7d;
  text-decoration: none;
  position: relative;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

header .header-nav .header-nav_left .header-nav-links .header-nav-link:hover {
  color: #141414;
}

header .header-nav .header-nav_left .header-nav-links .header-nav-link svg {
  margin-left: 4px;
}

header .header-nav .header-nav_left .header-nav-links .header-nav-link svg:hover {
  fill: #141414;
}

header .header-nav .header-nav_left .dropdown__container {
  display: none;
}

@media screen and (min-width: 969px) {
  header .header-nav .header-nav_left .dropdown__container {
    position: absolute;
    top: 3.5rem;
  }
}

header .header-nav .header-nav_left .dropdown__list {
  margin: 1.5rem 0 0 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
}

@media screen and (min-width: 969px) {
  header .header-nav .header-nav_left .dropdown__list {
    background-color: #fff;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
    row-gap: 1em;
    padding: 1.5em .3em;
    margin: 0.5rem 0 0;
  }
}

header .header-nav .header-nav_left .dropdown__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.8rem;
  column-gap: 0.8rem;
  font-size: 14px;
  text-decoration: none;
  color: #7d7d7d;
}

@media screen and (min-width: 969px) {
  header .header-nav .header-nav_left .dropdown__link {
    font-size: 14px;
    text-decoration: none;
    color: #7d7d7d;
    font-weight: 500;
    text-decoration: none;
  }
  header .header-nav .header-nav_left .dropdown__link:hover {
    color: #141414;
  }
}

@media screen and (min-width: 969px) {
  header .header-nav .header-nav_left .nav .dropdown__icon {
    width: 0.75rem;
  }
}

header .header-nav .header-nav_left .arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header-nav .header-nav_left .dropdown.active .arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

header .header-nav .header-nav_left .dropdown__container.active {
  display: block;
}

header .header-nav .header-buttons {
  margin-left: auto;
}

header .header-nav .header-buttons .btn-login {
  padding: 5px 10px;
  border: none;
  margin-right: 20px;
  background-color: transparent;
  font-weight: 600;
  color: #7d7d7d;
  cursor: pointer;
}

header .header-nav .header-buttons .btn-login:hover {
  color: #141414;
}

header .header-nav .header-buttons .btn-register {
  padding: 12px 20px;
  border: 2px solid #7d7d7d;
  color: #7d7d7d;
  background-color: transparent;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
}

header .header-nav .header-buttons .btn-register:hover {
  color: #141414;
  border: 2px solid #141414;
}

@media screen and (max-width: 969px) {
  header .header-buttons {
    position: absolute;
    top: 0;
    right: -200%;
    overflow-x: hidden;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
}

main .hero {
  width: 50%;
  padding: 32px 0 32px 100px;
}

main .hero .hero-title {
  padding: 20px;
  margin-top: 10px;
}

main .hero .hero-title h1 {
  font-size: 80px;
  font-weight: 700;
}

main .hero .hero-text {
  padding: 20px 120px 20px 20px;
  margin-bottom: 0px;
}

main .hero .hero-text p {
  font-weight: 600;
  color: #7d7d7d;
  font-size: 18px;
}

main .hero .hero-btn {
  padding: 20px;
  margin-bottom: 40px;
}

main .hero .hero-btn .btn-hero {
  padding: 16px 28px;
  border: 2px solid #141414;
  color: #fafafa;
  background-color: #141414;
  border-radius: 14px;
  letter-spacing: .1px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

main .hero .hero-btn .btn-hero:hover {
  color: #141414;
  border: 2px solid #141414;
  background-color: transparent;
}

main .hero .hero-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

main .hero .hero-sponsors img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  margin-right: 50px;
}

main .hero-img-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 32px;
}

main .hero-img-container .hero-img img {
  width: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .hero-img-container .img-mob {
  display: none;
}

@media screen and (max-width: 969px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main body {
    overflow-x: hidden;
  }
  main .hero {
    width: 100%;
    padding: 32px 20px;
  }
  main .hero .hero-title {
    padding: 20px;
    margin-top: 10px;
  }
  main .hero .hero-title h1 {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
  }
  main .hero .hero-text {
    padding: 20px;
    margin-bottom: 0px;
  }
  main .hero .hero-text p {
    font-weight: 600;
    color: #7d7d7d;
    font-size: 18px;
    text-align: center;
  }
  main .hero .hero-btn {
    padding: 20px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .hero .hero-sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .hero-img-container {
    width: 100%;
  }
  main .hero-img-container .hero-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .hero-img-container .img-desk {
    display: none;
  }
  main .hero-img-container .img-mob {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 680px) {
  main .hero {
    padding: 20px 10px;
  }
  main .hero .hero-title h1 {
    font-size: 60px;
    font-weight: 700;
  }
  main .hero .hero-text p {
    font-weight: 600;
    color: #7d7d7d;
    font-size: 16px;
    text-align: center;
  }
  main .hero .hero-sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .hero .hero-sponsors img {
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    margin-right: 20px;
  }
  main .hero-img-container {
    width: 100%;
  }
  main .hero-img-container .img-desk {
    display: none;
  }
  main .hero-img-container .img-mob {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 475px) {
  main .hero-sponsors {
    padding: 10px;
  }
  main .hero-sponsors img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  main .hero-sponsors {
    padding: 5px;
  }
  main .hero-sponsors img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 18px;
    margin-right: 6px;
  }
}
/*# sourceMappingURL=style.css.map */